<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chino.scm.mapper.PurchaseReportMapper">
    <resultMap id="BaseResultMap" type="com.chino.scm.pojo.PurchaseReport">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="quarter" jdbcType="VARCHAR" property="quarter"/>
        <result column="month" jdbcType="VARCHAR" property="month"/>
        <result column="material" jdbcType="VARCHAR" property="material"/>
        <result column="purchase_amount" jdbcType="FLOAT" property="purchaseAmount"/>
        <result column="refund_amount" jdbcType="FLOAT" property="refundAmount"/>
        <result column="purchase_quantity" jdbcType="INTEGER" property="purchaseQuantity"/>
        <result column="arrival_quantity" jdbcType="INTEGER" property="arrivalQuantity"/>
        <result column="storage_quantity" jdbcType="INTEGER" property="storageQuantity"/>
        <result column="return_quantity" jdbcType="INTEGER" property="returnQuantity"/>
    </resultMap>
    <select id="findByQuarter" parameterType="String" resultMap="BaseResultMap">
        select * from scm.purchase_report
        <if test="quarter != null || quarter == '' ">
            <where>
                quarter = #{quarter}
            </where>
        </if>
        order by quarter
    </select>
    <select id="findByMonth" parameterType="String" resultMap="BaseResultMap">
        select * from scm.purchase_report
        <if test="month != null || month == '' ">
            <where>
                month = #{month}
            </where>
        </if>
        order by month
    </select>
</mapper>